<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
   <div class="alert alert-danger">
     <p><b><%= @customer.errors.count %>件のエラーがあります</b></p>

     <ul>
     <% @customer.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
  <% end %>
  <div class="form-group">
      <%= f.label :family_name, '性' %>
      <%= f.text_field :family_name, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label :given_name, '名' %>
      <%= f.text_field :given_name, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label :company_id, '所属する会社' %>
      <%= f.collection_select :company_id, companies, :id, :name, {}, { class: 'form-control' } %>
  </div>
  <div class="form-group">
      <%= f.label :post_id, '役職' %>
      <%= f.collection_select :post_id, posts, :id, :name, {}, { class: 'form-control' } %>
  </div>
  <% if @customer.new_record? %>
    <input type="submit" name="commit" value="登録" class="btn btn-primary">
  <% else %>
    <input type="submit" name="commit" value="編集" class="btn btn-warning">
  <% end  %>
<% end %>